<h3>{{action.name}}</h3>

<div *ngIf="entityValue | withLoading | async as e">
    <ng-template [ngIf]="e.value">
        <table>
            <thead>
            <tr>
                <th>property</th>
                <th>value</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let viewConfig of viewConfigs">
                <td>{{viewConfig.name}}</td>
                <td>{{e.value[viewConfig.name]}}</td>
            </tr>
            </tbody>
        </table>
    </ng-template>
    <ng-template [ngIf]="e.error">Error {{ e.error }}</ng-template>
    <ng-template [ngIf]="e.loading"><mat-progress-bar mode="query"></mat-progress-bar></ng-template>
</div>

<a mat-raised-button color="warn" adminifyActionLink="list">Back to list</a>
<a mat-raised-button color="primary" [adminifyActionLink]="['edit', id | async]">Edit</a>
