<p>admin-view-action-base works!</p>
<p>{{dataS | async}}</p>
<p>action: {{actionData}}</p>

<p>idS:{{idS | async}}</p>
<p>id: {{id}}</p>

<div *ngIf="entityValue | withLoading | async as e">
    <ng-template [ngIf]="e.value">
        <table>
            <thead>
            <tr>
                <th>property</th>
                <th>value</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let viewConfig of viewConfigs">
                <td>{{viewConfig.name}}</td>
                <td>{{e.value[viewConfig.name]}}</td>
            </tr>
            </tbody>
        </table>
    </ng-template>
    <ng-template [ngIf]="e.error">Error {{ e.error }}</ng-template>
    <ng-template [ngIf]="e.loading">Loading...</ng-template>
</div>

