<h3>{{action.name}}</h3>

<mat-form-field>
    <mat-label>Search...</mat-label>
    <input matInput [formControl]="inputControl" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
    <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource" matSort [matSortActive]="sortActive" [matSortDirection]="sortDirection" style="width: 100%">

        <!-- ID Column -->
        <ng-container *ngFor="let config of listConfigs" [matColumnDef]="config.name">
            <ng-container *ngIf="config.sort || config.key; else unsorted">
                <th mat-header-cell *matHeaderCellDef [mat-sort-header]="config.sort || config.key">{{config.templateOptions.label}}</th>
            </ng-container>
            <ng-template #unsorted><th mat-header-cell *matHeaderCellDef>{{config.templateOptions.label}}</th></ng-template>

            <td mat-cell *matCellDef="let row">
                <ng-container [ngSwitch]="config.type">
                    <!-- the same view can be shown in more than one case -->
                    <mat-pseudo-checkbox *ngSwitchCase="'checkbox'" [state]="row[config.key] === true ? 'checked' : 'unchecked'"></mat-pseudo-checkbox>
                    <div *ngSwitchCase="'template'" [innerHTML]="config.template | template : row"></div>
                    <!--default case when there are no matches -->
                    <ng-container *ngSwitchDefault>{{row[config.key]}}</ng-container>
                </ng-container>
            </td>
        </ng-container>

        <!-- View Action Column -->
        <ng-container matColumnDef="viewAction">
            <th mat-header-cell *matHeaderCellDef>View</th>
            <td mat-cell *matCellDef="let row">
                <a mat-button [adminifyActionLink]="['view', row.id]" matTooltip="View"><mat-icon color="primary">view_headline</mat-icon></a>
            </td>
        </ng-container>

        <!-- Edit Action Column -->
        <ng-container matColumnDef="editAction">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let row">
                <a mat-button [adminifyActionLink]="['edit', row.id]" matTooltip="Edit"><mat-icon color="accent">edit</mat-icon></a>
                <a mat-button [adminifyAdminActionLink]="['edit', row.id]" adminName="users" matTooltip="Edit"><mat-icon color="accent">edit</mat-icon></a>
            </td>
        </ng-container>

        <!-- Delete Action Column -->
        <ng-container matColumnDef="deleteAction">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let row">
                <button mat-button (click)="onDelete(row)" matTooltip="Delete"><mat-icon color="warn">delete</mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>
